@import 'scss/vars';
@import 'scss/breakpoints';

.AppBar {
  padding: 20px;
  height: max-content;
  border-bottom: 1px solid $border-color;

  @media screen and (max-width: $mobile-max) {
    padding: 10px 20px;
  }

  .switcherWrapper {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;

    max-width: $main-max-width;
    margin: 0 auto;
    margin-bottom: 5px;

    button {
      height: 36px;
    }
  }

  .appBarWrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    max-width: $main-max-width;
    margin: 0 auto;
  }
}
