.ThemeButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38px;

  @media screen and (max-width: 600px) {
    height: 36px;
  }

  padding: 5px;
  margin-left: 10px;

  width: 65px;

  border: none;
  outline: none;

  border-radius: 4px;
  background-color: #3f51b5;

  box-shadow: 7px 7px 13px 0px rgba(0, 0, 0, 0.38);

  overflow: hidden;
  cursor: pointer;

  &:hover {
    background-color: #303f9f;
  }

  svg {
    max-width: 30px;
    height: auto;
    transition: all 0.3s linear;
    fill: white;

    &.lightTheme:first-child {
      transform: translateY(0);
    }

    &.darkTheme:first-child {
      transform: translateY(100px);
    }

    &.lightTheme:nth-child(2) {
      transform: translateY(-100px);
    }

    &.darkTheme:nth-child(2) {
      transform: translateY(0);
    }
  }
}
