@import 'scss/vars';
@import 'scss/breakpoints';

.todoForm {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 20px;
  margin: 20px;

  background-color: rgba(255, 255, 255, 0.3);

  @media screen and (max-width: $mobile-max) {
    padding: 40px 5px;
    margin: 0;

    button {
      background-color: $accent;
      color: $white-text;

      &:hover {
        background-color: $accent-hover;
      }
    }
  }

  button {
    margin-left: 10px;
  }

  .inputWrapper {
    position: relative;

    .helperText {
      position: absolute;
      color: #ff0000;
    }
  }
}
