.todoForm {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 20px;

  @media screen and (max-width: 600px) {
    margin: 40px 5px;

    button {
      background-color: #3f51b5;
      color: #fff;

      &:hover {
        background-color: #303f9f;
      }
    }
  }

  button {
    margin-left: 10px;
  }

  .inputWrapper {
    position: relative;

    .helperText {
      position: absolute;
      color: red;
    }
  }
}
