@import 'scss/vars';

.sliderListWrapper {
  padding: 20px;
  text-align: center;

  .sliderTitle {
    text-transform: uppercase;
    margin-bottom: 10px;
  }
}

.arrow:before {
  color: $dark-text;
}
