.Container {
  margin: 0 auto;

  padding: 20px;
  height: max-content;
  max-width: 767px;

  @media screen and (max-width: 400px) {
    padding: 20px 10px;
  }

  @media screen and (max-width: 600px) {
    position: relative;
  }
}
