@import 'scss/vars';
@import 'scss/breakpoints';

.Container {
  position: relative;
  margin: 0 auto;

  padding: 20px;
  height: max-content;
  max-width: $main-max-width;

  @media screen and (max-width: $mobile) {
    padding: 20px 10px;
  }
}
