.LoginForm {
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  padding: 20px;
  max-width: 520px;
  border-radius: 8px;
  background-color: rgba(121, 134, 209, 0.6);
  box-shadow: 7px 7px 13px 0px rgba(0, 0, 0, 0.38);

  .formTitle {
    margin: 0 auto 30px;
  }

  .inputWrapper {
    display: flex;
    flex-direction: column;

    position: relative;

    margin-bottom: 30px;

    .helperText {
      position: absolute;
      width: 100%;
      top: 94%;
    }
  }
}
