.LoginForm {
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  padding: 20px;
  max-width: 520px;
  border-radius: 8px;
  background-color: rgb(121, 134, 209);
  box-shadow: 7px 7px 13px 0px rgba(0, 0, 0, 0.38);

  .formTitle {
    margin: 0 auto 20px;
  }

  .inputWrapper {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
  }
}
