@import 'scss/vars';

.LoginForm {
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  padding: 20px;
  max-width: 520px;
  border-radius: 8px;
  background-color: $auth-form-bg-color;
  box-shadow: $main-shadow;

  .formTitle {
    margin: 0 auto 30px;
  }

  .inputWrapper {
    display: flex;
    flex-direction: column;

    position: relative;

    margin-bottom: 30px;

    .helperText {
      position: absolute;
      width: 100%;
      top: 94%;
    }
  }
}
