@import 'scss/breakpoints';

.buttonsWrapper {
  display: flex;
  justify-content: space-evenly;

  .selectWrapper {
    width: 234px;

    @media screen and (max-width: $mobile-max) {
      width: 150px;
    }

    @media screen and (max-width: $mobile) {
      width: 130px;
    }
  }
}
