@import 'scss/breakpoints';

.DatePicker {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  input {
    display: flex;
    align-items: flex-start;
    width: 206px;

    &[type='date'] {
      background-image: url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png);
      background-position: 90% 50%;
      background-repeat: no-repeat;
    }
    &[type='date']::-webkit-inner-spin-button {
      display: none;
    }
    &[type='date']::-webkit-calendar-picker-indicator {
      opacity: 0;
      cursor: pointer;
    }
  }

  @media screen and (max-width: $mobile-max) {
    position: static;
    margin-bottom: 20px;
  }

  button {
    position: absolute;
    left: -22%;

    @media screen and (max-width: $mobile-max) {
      position: static;
    }
  }
}
