.DatePicker {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  text-align: center;

  input {
    width: 206px;
  }
  button {
    margin-right: 10px;
  }
}
