@import 'scss/vars';
@import 'scss/breakpoints';

.chart {
  padding: 10px;
  margin: 20px;
  background-color: rgba(255, 255, 255, 0.3);

  @media screen and (min-width: $mobile-middle) {
    width: 400px;
  }

  @media screen and (min-width: $tablet-min) {
    width: 500px;
  }
}

.btnsWrapper {
  position: absolute;
  z-index: 1;
  top: 60px;
  left: 20px;

  @media screen and (max-width: $mobile) {
    left: 10px;
  }

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  width: 100px;
  margin: 5px 0;

  background-color: rgba(63, 81, 181, 0.9);
  border-radius: 4px;

  button {
    color: $white-text;
    transition: $main-transition;
    width: 48px;
    height: 48px;

    &:hover {
      color: $accent-hover;
      box-shadow: $main-shadow;

      svg {
        stroke: rgba(240, 231, 231, 0.8);
      }
    }
  }
}

.chartBtn {
  position: absolute;
  top: 20px;
  left: 20px;

  width: 100px;
  height: 36px;
  font-size: $main-font-size-desc;

  @media screen and (max-width: $mobile-max) {
    font-size: $main-font-size-mobile;
  }

  @media screen and (max-width: $mobile) {
    width: 80px;
    left: 10px;
    font-size: 10px;
    text-transform: capitalize;
  }

  background-color: $accent;
  color: $white-text;

  &:hover {
    background-color: $accent-hover;
  }
}
