@import 'scss/breakpoints';
@import 'scss/vars';

.Search {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  input {
    width: 206px;
  }

  .btnClearSearch {
    position: absolute;
    right: -22%;

    &:disabled {
      svg {
        fill: rgb(67, 72, 85);
      }
    }
  }

  @media screen and (max-width: $mobile-max) {
    input {
      width: 176px;
    }
    label {
      font-size: $main-font-size-mobile;
    }

    .btnClearSearch {
      position: absolute;
      right: -24%;
    }
  }
}
