.Search {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  input {
    width: 206px;
  }

  .btnClearSearchDesc {
    position: absolute;
    right: -20%;
  }

  @media screen and (max-width: 600px) {
    position: static;

    .btnClearSearch {
      position: static;
    }

    .btnOpenSearch {
      position: absolute;
      top: 2%;
      right: 2%;
    }
  }
}
@media screen and (max-width: 600px) {
  .searchForm {
    padding: 40px 10px;

    input {
      width: 156px;
    }

    .btnSearch {
      margin-left: 10px;
    }
  }
}
