.Search {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  input {
    width: 206px;
  }

  @media screen and (max-width: 600px) {
    position: static;
  }

  button {
    position: absolute;
    right: -20%;

    @media screen and (max-width: 600px) {
      position: static;
    }
  }
}

.searchForm {
  padding: 40px 20px;
}
