body {
  font-size: 14px;

  @media screen and (max-width: 600px) {
    font-size: 12px;
  }
}

.lightTheme {
  min-height: 100vh;
  background-color: rgb(255, 255, 255);

  background-image: radial-gradient(
    circle farthest-corner at center,
    rgba(255, 255, 255, 0.7) 0%,
    rgba(136, 143, 165, 0.7) 100%
  );

  color: black;
}

.darkTheme {
  min-height: 100vh;
  background-color: rgb(120, 119, 128);

  background-image: radial-gradient(
    circle farthest-corner at center,
    rgba(174, 185, 218, 0.7) 0%,
    rgba(27, 30, 39, 0.7) 100%
  );

  color: rgb(240, 231, 231);

  svg {
    fill: rgb(240, 231, 231);
  }

  button {
    &:hover {
      svg {
        fill: #3f51b5;
        stroke: rgba(240, 231, 231, 0.8);
      }
    }
  }

  button,
  a,
  select {
    box-shadow: 7px 7px 13px 0px rgba(240, 231, 231, 0.1);
  }
}
