@import './vars';
@import './breakpoints';

body {
  font-size: $main-font-size-desc;
  line-height: 1.22;

  @media screen and (max-width: $mobile-max) {
    font-size: $main-font-size-mobile;
  }

  @media screen and (max-width: $mobile) {
    font-size: 10px;
  }
}

.lightTheme {
  min-height: 100vh;
  background-color: rgb(255, 255, 255);

  // background-image: radial-gradient(
  //   circle farthest-corner at center,
  //   rgba(255, 255, 255, 0.7) 0%,
  //   rgba(136, 143, 165, 0.7) 100%
  // );

  color: $dark-text;

  input,
  select {
    font-size: $main-font-size-desc;
    line-height: 1.22;

    @media screen and (max-width: $mobile-max) {
      font-size: $main-font-size-mobile;
    }
  }
}

.darkTheme {
  min-height: 100vh;
  background-color: rgb(120, 119, 128);

  background-image: radial-gradient(
    circle farthest-corner at center,
    rgba(174, 185, 218, 0.7) 0%,
    rgba(27, 30, 39, 0.7) 100%
  );

  color: $text-dark-theme;

  svg {
    fill: $text-dark-theme;
  }

  input,
  select,
  button {
    color: $text-dark-theme;
  }

  input,
  select {
    font-size: $main-font-size-desc;
    line-height: 1.22;

    @media screen and (max-width: $mobile-max) {
      font-size: $main-font-size-mobile;
    }
  }

  button {
    &:hover {
      svg {
        fill: $accent;
        stroke: rgba(240, 231, 231, 0.8);
      }
    }
  }

  button,
  a,
  select {
    box-shadow: $light-shadow;
  }
}
