@import 'scss/vars';
@import 'scss/breakpoints';

.userMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;

  .exitBtn {
    margin-left: 10px;
    height: 36px;

    svg {
      stroke: none;
    }
  }

  @media screen and (max-width: $mobile-max) {
    flex-direction: column;

    button {
      margin-left: 10px;
      margin-top: 5px;
      width: 85px;
      height: 36px;

      border-radius: 4px;
      background-color: $accent;
      color: $white-text;

      svg {
        stroke: none;
      }

      &:hover {
        background-color: $accent-hover;
      }
    }
  }
}
