@import 'scss/vars';
@import 'scss/breakpoints';

.userMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;

  .NavLink {
    color: inherit;
    padding: 10px;
    border-radius: 4px;

    transition: $main-transition;

    &:hover {
      box-shadow: $main-shadow;
    }
  }

  .NavLinkActive {
    box-shadow: $main-shadow;
  }

  .infoWrapper {
    display: flex;
    align-items: center;
  }

  .imageWrapper {
    margin-right: 10px;
    width: 40px;
    height: 40px;

    .avatar {
      border-radius: 4px;

      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .exitBtnMobile {
    margin-left: 10px;
    width: 40px;
    height: 40px;

    border-radius: 4px;
    background-color: $accent;
    color: $white-text;

    svg {
      stroke: none;
    }

    &:hover {
      background-color: $accent-hover;
    }
  }
}
