.userMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 767px;
  padding: 0 30px;

  @media screen and (max-width: 600px) {
    padding: 0 10px;

    button {
      background-color: #3f51b5;
      color: #fff;

      &:hover {
        background-color: #303f9f;
      }
    }
  }
}
